.localizacao {
  display: grid;
  grid-template-columns: 500px 500px;
  justify-content: center;
  padding: 60px 100px;
}

.localizacao h1 {
  font-family: "Inter", monospace;
  font-size: 3rem;
  text-align: center;
  grid-column: 1/-1;
  margin-bottom: 40px;
}

.mapa-container {
  max-width: 600px;
  border-radius: 6px;
}

.informacoes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.informacoes span {
  font-family: "Lato", monospace;
  font-weight: bold;
}

.informacoes li {
  font-family: "Roboto", monospace;
  font-size: 1.2rem;
  color: #313743;
  position: relative;
  margin-left: 15px;
}

.informacoes li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -18px;
  width: 10px;
  height: 8px;
  background: #0088cc;
  border-radius: 6px;
}

.social-media {
  display: flex;
  gap: 20px;
  margin-left: 35px;
}

@media (max-width: 1200px) {
  .localizacao {
    padding: 40px 40px;
  }
  .mapa-container {
    max-width: 400px;
  }
}

@media (max-width: 700px) {
  .localizacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 10px;
  }

  .mapa-container {
    max-width: 340px;
  }

  .localizacao h1 {
    font-size: 2.2rem;
    margin-bottom: 0;
  }

  .informacoes {
    text-align: center;
  }

  .informacoes li {
    font-size: 1rem;
  }

  .informacoes li::before {
    display: none;
  }

  .social-media {
    gap: 10px;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
  }
}

[data-semana]::after {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid black;
  background: red;
  margin-left: 5px;
}

[data-semana].aberto::after {
  background: #3f4;
}
