.curadoria {
  display: flex;
  padding: 80px 20px;
  justify-content: center;
}

.curadoria img {
  max-width: 450px;
}

.curadoria-content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.curadoria-content h1 {
  font-family: "Inter", monospace;
  font-size: 3rem;
  max-width: 20ch;
  color: #222222;
  margin-bottom: 40px;
}

.curadoria-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.coin-list,
.cript-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.capsula {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-sizing: border-box;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #f5f3f3;
  box-shadow: 1px 2px 5px #ccc;
}

.capsula h2 {
  display: flex;
  font-size: 1.15rem;
  font-family: "Inter";
  color: #404345;
  align-items: center;
}

.number {
  font-family: "Encode Sans Expanded", "Roboto", monospace;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.018rem;
  color: #666;
}

.number span {
  color: #666;
  font-size: 1.15rem;
}

.icon {
  margin-right: 10px;
}

.clientes {
  grid-column: 1/-1;
}

.clientes h2 {
  font-size: 1.15rem;
}

.client-number {
  font-family: "Encode Sans Expanded", "Roboto", monospace;
  font-weight: 600;
  letter-spacing: 0.018rem;
  /* text-shadow: 1px 1px 2px #222222; */
  color: #dc5a5a;
  font-size: 1.15rem;
}

/* .client-content {
  display: inline-block;
} */

/* MEDIA QUERY - MOBILE */

@media (max-width: 700px) {
  .curadoria {
    padding: 20px 20px;
  }

  .curadoria-content {
    padding: 0px;
    max-width: 400px;
    justify-content: center;
    align-items: center;
  }

  .curadoria-content h1 {
    text-align: center;
    font-size: 2rem;
  }
  .curadoria-list {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .curadoria .cotacao {
    display: none;
  }

  .coin-list,
  .cript-list {
    justify-content: center;
  }

  .capsula {
    max-width: 280px;
  }

  .capsula h2 {
    font-size: 1.05rem;
  }

  .number {
    font-size: 0.6rem;
  }

  .number span {
    font-size: 1.05rem;
  }
}
