[data-scroll="right"] {
  opacity: 0;
  transform: translate3d(30px, 0, 0);
  transition: 0.4s;
}

[data-scroll="left"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.4s;
}

[data-scroll].ativo {
  transform: scale(1);
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
