.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 50px;
  padding: 30px 20px;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to top, #e2ebf0 0%, #cfd9df 100%);
}

.logo img {
  max-width: 200px;
}

.footer-list {
  font-family: "Lato", "Roboto", Arial;
  font-size: 1.05rem;
  font-weight: 700;
  color: #666;
  text-shadow: 1px 2px 5px #fff;
  letter-spacing: 0.06rem;
  line-height: 26px;
}

.footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
  color: #111;
  grid-column: 1/-1;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 700px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 50px;
    gap: 10px;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
  }
}
