.footer {
  display: flex;
  padding: 40px 20px;
  justify-content: space-around;
  align-items: center;
  background-color: #78f962;
  background-image: linear-gradient(45deg, #77ba6ba7 0%, #75a4d7c5 100%);
}

.logo {
  max-width: 250px;
}

.footer-list {
  font-family: "Lato";
  line-height: 26px;
  text-shadow: 1px 1px 2px #999999;
}
