.introducao-bg {
  background-image: linear-gradient(to top, #e2ebf0 0%, #cfd9df 100%);
  padding-top: 40px;
  padding-bottom: 40px;
}

.introducao {
  background-color: #fff;
  display: flex;
  border-radius: 8px;
  padding: 60px 40px;
  justify-content: center;
}

.introducao-content {
  max-width: 600px;
}

.introducao-content h1 {
  font-family: "Inter";
  font-size: 3rem;
  font-weight: bold;
  color: #202020;
  text-shadow: 2px 2px 1px #acada9;
  text-align: left;
  margin-bottom: 20px;
  letter-spacing: 0.1rem;
}

.introducao-content p {
  font-family: "Lato";
  font-size: 1.15rem;
  color: #494949;
  line-height: 1.3rem;
  text-align: justify;
  margin-bottom: 40px;
}

.screenshot {
  padding: 0 40px;
  margin-left: 10px;
  max-width: 600px;
}

.screenshot img {
  border-radius: 6px;
}

/* .introducao-content .button {
  font-family: "Roboto";
  font-size: 1.15rem;
  font-weight: 500;
  text-shadow: 1px 1px 1px #616161;
  letter-spacing: 0.05rem;
  padding: 0.7rem 1rem;
  border-radius: 4px;
  color: white;
  background: #519f42;
  position: relative;
  transition: 0.3s;
  box-shadow: 2px 4px 5px #c0c0c0;
} */

.introducao-content .button {
  max-width: 180px;
  font-family: "Roboto";
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  background-image: linear-gradient(
    to right,
    #757f9a 0%,
    #8095bd 51%,
    #757f9a 100%
  );
  padding: 0.7rem 1rem;
  text-align: center;
  text-shadow: 0 1px 3px #111;
  transition: 0.5s;
  /* background-size: 100% auto; */
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s;
}

.button img {
  width: 36px;
  height: 36px;
}

.introducao-content .button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

/* .introducao-content .button:hover {
  background-color: #117f09;
  box-shadow: 2px 4px 10px #c0c0c0;
  text-shadow: 1px 1px 1px black;
  color: white;
  transition: 0.3s;
} */

.icones-content {
  display: flex;
  margin-top: 40px;
  gap: 40px;
}

.icones {
  display: flex;
  gap: 10px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  background: #dfdfdf;
  padding: 10px 20px;
  transition: 0.4s;
}

.icones:hover {
  box-shadow: 0 3px 6px #dfdfdf;
}

.icones img {
  max-width: 35px;
}

.icones p {
  font-family: "Encode Sans Expanded", monospace;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
  color: #505050;
  margin: 0;
}

/* MEDIA QUERY - MOBILE */

@media (max-width: 700px) {
  .introducao-bg {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .introducao {
    flex-direction: column;
    padding: 40px 20px;
  }

  .screenshot {
    display: none;
  }

  .icones-content {
    gap: 15px;
  }

  .icones {
    gap: 5px;
    justify-content: space-between;
    padding: 5px 10px;
    max-width: 170px;
  }

  .introducao-content h1 {
    font-size: 2.5rem;
  }

  .introducao-content p {
    font-size: 1rem;
  }

  .icones p {
    font-size: 0.6rem;
    line-height: 0.7rem;
    text-align: left;
    font-weight: bold;
  }

  .icones img {
    width: 24px;
  }

  .introducao-content .button {
    font-size: 0.875rem;
    gap: 10px;
    padding: 0.5rem 0.7rem;
    max-width: 120px;
  }

  .button img {
    width: 24px;
    height: 24px;
  }
}
