.menu-mobile,
.abrirMenu {
  display: none;
}
@media (max-width: 800px) {
  [data-menu="list"],
  [data-menu="login"] {
    display: none;
  }

  .abrirMenu {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 6px;
    gap: 6px;
    background-color: #0093e9;
    background-image: linear-gradient(90deg, #0093e9 0%, #80d0c7 62%);
    z-index: 200;
  }

  .abrirMenu div {
    width: 32px;
    height: 4px;
    background: #111;
  }

  .menu-mobile {
    display: flex;
    position: fixed;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    padding: 10px;
    top: 0;
    right: 0;
    background: #85858564;
    backdrop-filter: blur(40px);
    z-index: 400;
    overflow: hidden;
    transform: translateX(100%);
    transition: 0.3s;
  }

  .menu-mobile.ativo {
    transform: translateX(0);
  }

  .fecharMenu {
    width: min-content;
    height: min-content;
  }

  .menu-mobile nav {
    padding-top: 12vh;
  }

  .menu-mobile .itens {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  .itens li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-mobile ul li a {
    font-family: "Lato", monospace;
    font-size: 1rem;
    text-shadow: 1px 1px 2px black;
    font-weight: 600;
    color: #fff;
  }

  .redes {
    justify-self: center;
    align-self: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .redes a {
    justify-self: center;
    align-self: center;
    text-align: center;
  }
}
