.nav-mobile {
  display: none;
}

@media (max-width: 768px) {
  .nav-menu,
  .menu-buttons {
    display: none;
  }

  .nav-mobile {
    display: block;
  }

  .menu-mobile {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    gap: 30px;
    top: 12%;
    right: 0;
    z-index: 300;
    max-width: 180px;
    height: 100vh;
    background-color: #8bc6ec;
    background-image: linear-gradient(to left, #cfd9df 0%, #e2ebf0 100%);
  }

  .menu-mobile.active {
    display: flex;
  }

  .btn-mobile {
    font-family: "Roboto";
    font-size: 0.875rem;
    font-weight: bold;
  }

  .hamburguer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 6px;
    background: linear-gradient(-180deg, #bcc5ce 0%, #929ead 98%),
      radial-gradient(
        at top left,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      );
    background-blend-mode: screen;
    border-radius: 4px;
    box-shadow: 1px 2px 5px #666;
  }

  .hamburguer.active {
    position: relative;
    width: 34px;
    height: 28px;
    padding: 3px;
  }

  .hamburguer span {
    display: block;
    width: 28px;
    height: 4px;
    position: relative;

    background: #081b38;
    border-radius: 3px;

    z-index: 1;
  }

  .one {
    transition: 0.4s;
  }

  .two {
    opacity: 1;
    transition: 0.3s;
  }

  .three {
    transition: 0.4s;
  }

  .hamburguer.active .two {
    opacity: 0;
    transition: 0.2s;
  }

  .hamburguer.active .one {
    position: absolute;
    bottom: 15px;
    right: 6px;
    transform: rotate(45deg);
    transition: 0.3s;
  }

  .hamburguer.active .three {
    position: absolute;
    bottom: 15px;
    right: 6px;
    transform: rotate(-45deg);
    transition: 0.3s;
  }
}
