.menu-container {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
}

.menu img {
  max-width: 220px;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 40px;
  font-family: "Lato", "Roboto", Arial;
  font-size: 1.05rem;
  font-weight: 700;
}

.nav-menu a {
  padding: 10px;
  color: #666;
  text-shadow: 1px 2px 5px #fff;
  text-align: center;
  letter-spacing: 0.06rem;
  justify-content: center;
}

.nav-menu li {
  transition: transform 0.4s;
  position: relative;
}

.nav-menu li::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 0%;
  height: 2px;
  bottom: -6px;
  left: 0px;
  background-color: #a0a0a0;
  box-shadow: 1px 2px 5px #dfdfdf;
  border-radius: 4px;
  transition: 0.4s;
}

.nav-menu li:hover::after {
  width: 100%;
}

.menu-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  font-family: "Lato", "Roboto", Arial;
  font-size: 1.2rem;
  font-weight: 700;
}

.menu-buttons a {
  color: #010101;
}

/* #baixe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  background-color: #69cc56;
  border-radius: 6px;
  box-shadow: 2px 3px 5px black;
  transition: 0.4s;
} */

/* #baixe:hover {
  transform: scale(1.05);
  background-color: #8add75;
  color: black;
  transition: 0.4s;
} */

/* #login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  background-color: #69cc56;
  border-radius: 6px;
  box-shadow: 2px 3px 5px black;
  transition: 0.4s;
} */

/* #login:hover {
  transform: scale(1.05);
  background-color: #8add75;
  color: black;
  transition: 0.4s;
} */

#baixe,
#login {
  background-image: linear-gradient(
    to right,
    #757f9a 0%,
    #728bb8 51%,
    #757f9a 100%
  );
  padding: 8px 12px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

#baixe:hover,
#login:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .menu {
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu img {
    max-width: 200px;
  }

  .menu li {
    font-size: 0.9rem;
  }

  .menu-buttons {
    gap: 10px;
    font-size: 0.9rem;
  }

  #baixar,
  #login {
    padding: 4px 6px;
  }
}

@media (max-width: 800px) {
  .menu {
    display: flex;
    width: 90vw;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
  }
  .menu img {
    max-width: 150px;
  }
}
