.vantagens {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 80px 20px;
}

/* .vantagens img {
  max-width: 350px;
} */

.screen01 {
  width: 350px;
}

.vantagens-content {
  max-width: 800px;
  padding: 20px;
}

.vantagens-content h1 {
  font-family: "Inter", monospace;
  font-size: 3rem;
  max-width: 20ch;
  color: #222222;
  margin-bottom: 40px;
}

.vantagens-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.vantagens-list h2 {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  color: #202020;
  gap: 10px;
  margin-bottom: 10px;
  position: relative;
}

.vantagens-list h2::after {
  position: absolute;
  content: "";
  bottom: -5px;
  right: 0;
  width: 100%;
  height: 1px;
  background: #a2a2a2;
}

.vantagens-list p {
  font-family: "Manrope";
  color: #222222;
  text-align: justify;
  font-weight: 500;
}

@media (max-width: 700px) {
  .vantagens {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 5px;
  }
  .vantagens img {
    justify-self: center;
    max-width: 200px;
  }

  .vantagens-content h1 {
    font-size: 2rem;
    text-align: center;
  }

  .vantagens-list h2 {
    font-size: 1.2rem;
    gap: 5px;
  }

  .vantagens-list img {
    width: 25px;
  }

  .vantagens-list {
    gap: 20px;
  }

  .vantagens-list p {
    font-size: 0.875rem;
  }
}
